* {
  font-weight: 500;
}

// 移除所有元素的焦点边框
*:focus {
  outline: none;
}

/* 滚动条 */

/* 滚动条整体部分,必须要设置 */
::-webkit-scrollbar {
  width: 8px !important;
  height: 0 !important;
}

/* 滚动条的轨道 */
::-webkit-scrollbar-track {
  background-color: var(--art-gray-200);
}

/* 滚动条的滑块按钮 */
::-webkit-scrollbar-thumb {
  transition: all 0.2s;
  border-radius: 5px;
  background-color: #ccc !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b0abab !important;
}

/* 滚动条的上下两端的按钮 */
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.dark {
  ::-webkit-scrollbar-track {
    background-color: var(--default-bg-color);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--art-gray-300) !important;
  }
}
